$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-lg-width: 1500px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile_and_tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin large_screen {
  @media (min-width: $desktop-lg-width) {
    @content;
  }
}
